.logo {
  height: 10vmin;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.accountSection {
  float: right;
}

.pageTitle {
  text-align: center;
}

.footer {
  background-color: #3d3d3d;
  font-size: calc(10px + 2vmin);
  color: rgb(235, 23, 23);
}

.menuList {
  display: inline;
}

.listCol {
  list-style: none;
  display: inline;
  padding: 10px;
}

.link {
  color: #a2c0c9;
}
